@model string
@{
    ViewBag.Title = "Index";
}

<h2>Please log in</h2>
@using (Html.BeginForm("Authenticate", "Authenticate", FormMethod.Post))
{
	<label for="usr">Username</label>
	<input type="text" id="usr" name="usr" />
	<br />
	<label for="pass">Password</label>
	<input type="password" name="pass" />
	<input hidden type="text" name="sp" value="@Request.QueryString["SPHostUrl"]" />
	<br />
	<input type="submit" value="Log in" />
}
@Html.ActionLink("testClientContext", "TestClientContext", "Authenticate");
