.vs/
.vscode/

# my PS upload script
UploadScript.ps1

api.keys.json
passwords.json
Web.config
Web.Debug.config
Web.Release.config
Web.config.bak
AppManifest.xml
Manufacturing/StockRequestApproval/StockRequestApprovalWeb/Temp/*

# packages
node_modules

# build
dist
