
@{
	ViewBag.Title = "Index";
}

<h2>Stock Report</h2>
<input type="button" value="Get Stock Report" onclick="location.href='@Url.Action("GenerateReport", "Report" )'" />
@Html.DevExpress().WebDocumentViewer(settings =>
{
	settings.Name = "WebDocumentViewer";
}).Bind(new XtraReport1()).GetHtml()
