@model StockRequestApprovalWeb.Models.SendEmailViewModel
@{
	ViewBag.Title = "TestMail";
}

<h2>TestMail</h2>
@using (Html.BeginForm("SendMail", "Mail", FormMethod.Post))
{
	@Html.TextBoxFor(m => m.To)
	<input type="submit" value="Send" />
}

