@{
	ViewBag.Title = "Home Page";
}


@{ 
	if (Request.QueryString["msg"] != null)
	{
		<div>@Request.QueryString["msg"]</div>
	}
}

<div class="row">
	@using (Html.BeginForm("Subscribe", "Home", new { SPHostUrl = Request.QueryString["SPHostUrl"] }))
	{
		@Html.AntiForgeryToken()
		<div class="col-md-10">
			<label for="pass">Password</label><br />
			<input type="password" name="pass" /><br />
			<label for="url">Service url (http.....svc)</label><br />
			<input type="text" name="url" /><br />
			<input type="submit" value="Subscribe" />
		</div>
	}
	</div>