
@{
    ViewBag.Title = "ConnectTo";
}

<h2>Connect to Office365 </h2>
<p>Have an Office 365 account?  Enter your URL here to connect!</p>
<form action="Connect" method="post">
	<input id="hostUrl" type="text" name="hostUrl" />
	<input type="submit" value="Connect" class="btn btn-default">
</form> 

