@{
	ViewBag.Title = "Home Page";
}
<div class="row">
	@using (Html.BeginForm("Subscribe", "Home", new { SPHostUrl = Request.QueryString["SPHostUrl"] }))
	{
		@Html.AntiForgeryToken()
		<div class="col-md-10">
			@Html.DropDownList("listTitle", (IEnumerable<SelectListItem>)ViewBag.HostLists)
			<input type="submit" value="Subscribe" />
		</div>
	}
</div>